:root {
  --light-p-bg: light-dark(#ffffff, #111111);
  --light-s-bg: light-dark(#f5f5f5, #222222);
  --frost-bg: light-dark(rgba(245, 245, 245, 0.5), rgba(34, 34, 34, 0.5));
  --frame-shadow: light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));

  --light-p-text: light-dark(#333333, #ffffff);
  --light-s-text: light-dark(#888888, #888888);

  --main-size: clamp(2.488rem, 0.4527rem + 3.3778vw, 2.986rem);
  --sub-size: clamp(1.728rem, -0.3538rem + 3.237vw, 2.074rem);
  --h3-title: 1.44rem;
  --body-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
  --small-size: clamp(0.694rem, 0.6444rem + 0.7407vw, 1rem);

  --section-d-pad: 60px 100px;
  --individual-d-h-pad: 0 100px;
  --individual-d-v-pad: 60px 0;

  --section-m-pad: 60px 25px;
  --individual-m-h-pad: 0 25px;
  --individual-m-v-pad: 40px 0;

  --max-width: 900px;

  --basic-gap: 10px;
  --section-gap: 40px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}
::-webkit-scrollbar {
    width: 0px;
    height: 10px;
    background: var(--light-s-bg);
}
::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 20px;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}
body {
  width: 100%;
  background: var(--light-s-bg);
  color-scheme: light dark;
}

/* -----NATIVES------ */
h1 {
    font-family: "Italianno", cursive;
    font-size: var(--main-size);
    color: var(--light-p-text);
    font-style: normal;
    text-wrap: nowrap;
    font-weight: 400;
    line-height: 1;
  }
  h2 {
    font-family: "Italianno", cursive;
    font-size: var(--main-size);
    color: var(--light-p-text);
    font-style: normal;
    text-wrap: nowrap;
    font-weight: 400;
    line-height: 1;
  }
  p {
    font-family: "Satoshi", sans-serif;
    font-size: var(--body-size);
    color: var(--light-s-text);
    font-weight: 400;
  }
  h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: var(--h3-title);
    color: var(--light-p-text);
    font-weight: 400;
    line-height: 1;
  }
  span {
    font-family: "Satoshi", sans-serif;
    font-size: var(--small-size);
    color: var(--light-s-text);
    font-weight: 400;
  }
  a {
    font-family: "Satoshi", sans-serif;
    font-size: var(--small-size);
    text-decoration: none;
  }
/* -----NATIVES-END------ */




/* -------------NAVBAR-------------- */
nav {
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding: 20px 100px;
}
.ham-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo img:hover {
  transform: scale(0.9);
}
.nav-logo img {
  height: 50px;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  transition: all 0.5s;
}
.nav-links,
.nav-socials {
  padding: 10px;
  border: 1px solid var(--light-s-bg);
  background: var(--frost-bg);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  display: flex;
  gap: var(--basic-gap);
  box-shadow: 0 0 10px var(--frame-shadow);
}
.nav-links a {
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--light-p-text);
  transition: all 0.5s;
}
.nav-links a:hover {
  background: var(--light-p-bg);
}
.nav-links a.active {
  background: var(--light-p-bg);
  font-family: "Italianno", cursive;
  font-size: 20px;
}

.nav-socials a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.5s;
}
.nav-socials a:hover {
  background: var(--light-p-bg);
}

.youtube,
.instagram,
.facebook {
  height: 25px;
  width: 25px;
}

.ham-icon {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--light-p-text);
  transition: all 0.5s;
}
.nav-logo a:last-child {
  display: none;
  width: 30px;
  height: 30px;
}


/* -----HERO------ */
header{
    position: relative;
}
.header-rangoli {
    /* background: url(./imgs/top-raangoli.webp); */
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.05;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hero-section {
    background: var(--light-s-bg);
    height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: var(--section-d-pad);
}
.hero-content {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
  margin-bottom: 200px;
  text-align: center;
}
.hero-title{
  /* text-align: center; */
  margin: auto;
  margin-top: -30px;
}
.slider-cont {
  height: 400px;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.slide-track {
  display: flex;
  gap: 20px;
  animation: scroll 20s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}
.slide-track .slide {
  background: var(--light-s-bg);
  height: 300px;
  padding: 10px;
  box-shadow: 4px 4px 10px var(--frame-shadow);
  transition: all 0.5s;
}
.slide img {
  height: 100%;
}
.slide:hover {
  z-index: 100;
  transform: scale(1.2);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 4));
  }
}

/* ------------GOALS-SECTION------------ */
.goals-section {
  background: var(--light-p-bg);
  padding: var(--section-d-pad);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
  text-align: center;
}
.goal-head {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--basic-gap);
  text-wrap: balance;
}
.goal-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
}
.goal-content .goal-data {
  max-width: 400px;
  background: var(--light-s-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--basic-gap);
  position: relative;
  padding: 20px;
  padding-top: 40px;
}
.goal-content .goal-data:nth-child(2) {
  margin-top: 70px;
}
/* .goal-content .goal-data h3 {} */
.goal-num {
  font-size: var(--h3-title);
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--light-p-bg);
  color: var(--light-p-text);
  border-radius: 50%;
}

/* ------------TEAM-SECTION------------ */
.team-section {
  padding: var(--section-d-pad);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--section-gap);
  text-align: center;
}
.team-head {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--basic-gap);
  text-wrap: balance;
}
.team-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
}
.team {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  border: 2px solid var(--light-p-bg);
  min-height: 100%;
  overflow: hidden;
}
.team:nth-child(2) {
  text-align: right;
}
.team-img-cont {
    max-height: 500px;
    background: var(--light-p-bg);
    position: relative;
    display: flex;
    align-items: center;
    /* gap: 20px; */
    justify-content: space-between;
}

.team-img-cont img {
    max-width: 50%;
    min-height: 100%;
  object-fit: cover;
}
.team:last-child img {
  order: 2;
}

.team-img-content {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 20px;
}
.team-img-content p {
  line-height: 1.1;
}
.team-tags {
  font-size: var(--small-size);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 10px;
}
.team:last-child .team-tags {
  justify-content: flex-end;
}
.team-tag {
  padding: 5px 10px;
  background: var(--light-s-bg);
  border-radius: 50px;
}
.team .team-des {
  padding: 10px;
}

/* -----FOOTER------ */
.footer-section {
  background: var(--light-p-bg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
  padding: var(--section-d-pad);
  position: relative;
}

.footer-copyright{
  font-family: "Satoshi", sans-serif;
  background: var(--light-p-bg);display: flex;
  justify-content: center;
  align-items: flex-start;
}
.footer-bg {
  background: url(./imgs/footer-bg.webp);
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;
  z-index: 0;
  position: absolute;
  transform: scaleY(-1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-head {
  z-index: 2;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--basic-gap);
}
.footer-des {
  max-width: 500px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

}
.footer-links a {
  padding: 10px 20px;
  background: var(--frost-bg);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  text-decoration: none;
  color: var(--light-s-text);
}

.footer-links a svg {
  margin-right: 8px; /* Add space between icon and text */
}

.footer-msgbox {
  max-width: 500px;
  z-index: 2;
  background: var(--frost-bg);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: var(--basic-gap);
  padding: 20px;
  border-radius: 10px;
}
.footer-msgbox input, .footer-msgbox textarea {
  font-family: "Satoshi", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: var(--light-s-bg);
  resize: none;
}

.footer-msgbox button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: var(--light-p-text);
  color: var(--light-p-bg);
  cursor: pointer;
  transition: all 0.5s;
}
.footer-msgbox button:hover {
  background: var(--light-p-bg);
  color: var(--light-p-text);
  outline: 1px solid var(--light-p-text);
}
.footer-msgbox input:focus, .footer-msgbox textarea:focus {
  outline: 1px solid var(--light-s-text);
}




@media (prefers-color-scheme: dark) {
  .nav-logo img {
    filter: invert(1);
  }
  .footer-bg{
    opacity: 0.1;
  }
}
@media (max-width: 950px) {
  nav {
    padding: 20px 25px;
  }
}

@media (max-width: 768px) {

  .ham-cont {
    height: 50px;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    background: var(--frost-bg);
    backdrop-filter: blur(20px);
    border: 1px solid var(--light-p-bg);
    box-shadow: 0 0 10px var(--frame-shadow);
    border-radius: 25px;
    transition: height 0.5s;
    overflow: hidden;
  }
  .ham-cont.active {
    height: 300px;
    padding: 50px 0 20px 0;
  }
  .ham-icon {
    display: inline-block;
  }
  .ham-icon:hover {
    transform: scale(0.9);
  }


  .nav-logo {
    position: absolute;
    top: 10px;
    left: 20px;
    height: auto;
  }
  .nav-logo img {
    height: 100%;
  }


  .nav-links,
  .nav-socials {
    display: none;
    opacity: 0;
    border: none;
    background: none;
    backdrop-filter: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
    padding: 0;
    box-shadow: none;
    transition: display 1s 0.3s
                opacity 0.5s;
  }
  .nav-links.active,
  .nav-socials.active {
    display: flex;
    opacity: 1;
  }

  .nav-socials {
    flex-direction: row;
  }

  .nav-logo a:first-child {
    display: none;
  }
  .nav-logo a:last-child {
    display: inline-block;
  }


  .hero-section,
  .goals-section,
  .team-section {
    padding: var(--section-m-pad);
  }
  h1 {
    text-wrap: wrap;
  }
  .hero-content {
    flex-direction: column;
    gap: var(--basic-gap);
    align-items: center;
    text-align: center;
    margin-bottom: 250px;
  }
  .hero-title{
    /* text-align: center; */
    margin: auto;
    margin-top: 60px;
  }
  .hero-des {
    text-wrap: balance;
  }
  .slider-cont {
    height: 300px;
  }
  .slide-track .slide {
    height: 200px;
  }

  .goal-content {
    flex-direction: column;
  }
  .goal-content .goal-data:nth-child(2) {
    margin-top: 0;
  }

  .team-content {
    flex-direction: column;
  }
  .team-des {
    text-wrap: balance;
  }

  .footer-section {
    padding: var(--section-m-pad);
    flex-direction: column;
    align-items: center;
  }
  .footer-head {
    align-items: center;
    text-align: center;
    max-width: 500px;
  }
  .footer-links {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 950px) {
  .team-img-cont {
    flex-direction: column;
  }
  .team img {
    min-width: 100%;
    max-height: 50%;
  }
  .team:last-child img {
    order: 0;
  }
  .team-img-content {
    max-width: none;
    text-align: center;
  }
  .team .team-tags {
    justify-content: center;
  }
  .team:last-child .team-tags {
    justify-content: center;
  }
  .team-des {
    text-align: center;
  }
}


.footerlogo{
  display: flex;
  align-items: center;
}







#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  z-index: 9999;
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
