@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --light-p-bg: #ffffff;
  --light-s-bg: #f5f5f5;
  --frame-shadow: rgba(0, 0, 0, 0.2);

  --light-p-text: #333333;
  --light-s-text: #888888;

  --main-size: clamp(2.488rem, 0.4527rem + 3.3778vw, 2.986rem);
  --sub-size: clamp(1.728rem, -0.3538rem + 3.237vw, 2.074rem);
  --h3-title: clamp(1.44rem, -0.3538rem + 3.237vw, 1.728rem);
  --body-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
  --small-size: clamp(0.694rem, 0.6444rem + 0.7407vw, 1rem);

  --section-d-pad: 60px 100px;
  --individual-d-h-pad: 0 100px;
  --individual-d-v-pad: 60px 0;

  --section-m-pad: 60px 25px;
  --individual-m-h-pad: 0 25px;
  --individual-m-v-pad: 40px 0;

  --max-width: 900px;

  --basic-gap: 10px;
  --section-gap: 40px;
}
.dark-mode {
  --light-p-bg: #111111;
  --light-s-bg: #222222;
  --frame-shadow: rgba(0, 0, 0, 0.5);

  --light-p-text: #ffffff;
  --light-s-text: #888888;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}
.popup-content::-webkit-scrollbar,
.popup-data::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: var(--light-s-bg);
}
::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border-radius: 20px;
}
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background: var(--light-s-bg);
  /* overflow: hidden; */
}

/* -----NATIVES------ */
h1 {
  font-family: "Italianno", cursive;
  font-size: var(--main-size);
  color: var(--light-p-text);
  font-style: normal;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 1;
}
h2 {
  font-family: "Italianno", cursive;
  font-size: var(--main-size);
  color: var(--light-p-text);
  font-style: normal;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 1;
}
p {
  font-family: "Satoshi", "Roboto";
  font-size: var(--body-size);
  color: var(--light-s-text);
  font-weight: 400;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: var(--h3-title);
  color: var(--light-p-text);
  font-weight: 400;
  line-height: 1;
}
span {
  font-family: "Satoshi", "Roboto";
  font-size: var(--small-size);
  color: var(--light-s-text);
  font-weight: 400;
}
/* -----NATIVES-END------ */

/* -----HERO------ */
.hero-section {
  background: var(--light-s-bg);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: var(--section-d-pad);
  /* border-bottom-left-radius: 20vw; */
  /* border-bottom-right-radius: 100px; */
  /* box-shadow: -70vw 50px 50px whitesmoke,
              70vw 50px 50px whitesmoke; */
}
.hero-content {
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
  margin-bottom: 200px;
}
.slider-cont {
  /* background: lightcoral; */
  height: 400px;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.slide-track {
  display: flex;
  gap: 20px;
  /* width: (auto *20); */
  animation: scroll 20s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}
.slide-track .slide {
  background: var(--light-s-bg);
  /* width: auto; */
  height: 300px;
  padding: 10px;
  box-shadow: 4px 4px 10px var(--frame-shadow);
  /* perspective: 100px; */
  /* z-index: 100; */
  transition: all 0.5s;
}
.slide img {
  height: 100%;
}
.slide:hover {
  z-index: 100;
  transform: scale(1.2);
  /* transform: translateZ(20px); */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 4));
  }
}

/* ------------GOALS-SECTION------------ */
.goals-section {
  background: var(--light-p-bg);
  padding: var(--section-d-pad);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
  text-align: center;
}
.goal-head {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--basic-gap);
  text-wrap: balance;
}
.goal-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
}
.goal-content .goal-data {
  max-width: 400px;
  background: var(--light-s-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--basic-gap);
  position: relative;
  padding: 20px;
  padding-top: 40px;
}
.goal-content .goal-data:nth-child(2) {
  margin-top: 70px;
}
/* .goal-content .goal-data h3 {} */
.goal-num {
  font-size: var(--h3-title);
  position: absolute;
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
}

/* ------------TEAM-SECTION------------ */
.team-section {
  padding: var(--section-d-pad);
  /* background: var(--light-p-bg); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--section-gap);
  text-align: center;
}
.team-head {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--basic-gap);
  text-wrap: balance;
}
.team-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
}
.team {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 10px;
  border: 2px solid var(--light-p-bg);
  min-height: 100%;
  overflow: hidden;
}
.team:nth-child(2) {
  text-align: right;
}
.team-img-cont {
  background: var(--light-p-bg);
  position: relative;
  display: flex;
  align-items: center;
  /* gap: 20px; */
  justify-content: space-between;
}

.team-img-cont img {
  max-width: 50%;
  min-height: 100%;
  object-fit: cover;
}
.team:last-child img {
  order: 2;
}

.team-img-content {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 20px;
}
.team-img-content p {
  line-height: 1.1;
}
.team-tags {
  font-size: var(--small-size);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 10px;
}
.team:last-child .team-tags {
  justify-content: flex-end;
}
.team-tag {
  padding: 5px 10px;
  background: var(--light-s-bg);
  border-radius: 50px;
}
.team-des {
  /* background: var(--light-p-bg); */
  padding: 10px;
}

@media (max-width: 768px) {
  .hero-section,
  .goals-section,
  .team-section {
    padding: var(--section-m-pad);
  }
  h1 {
    text-wrap: wrap;
  }
  .hero-content {
    flex-direction: column;
    gap: var(--basic-gap);
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }
  .hero-des {
    text-wrap: balance;
  }
  .slider-cont {
    height: 300px;
  }
  .slide-track .slide {
    height: 200px;
  }

  .goal-content {
    flex-direction: column;
  }
  .goal-content .goal-data:nth-child(2) {
    margin-top: 0;
  }

  .team-content {
    flex-direction: column;
  }
  .team-des {
    text-wrap: balance;
  }
}

@media (max-width: 950px) {
  .team-img-cont {
    flex-direction: column;
  }
  .team img {
    min-width: 100%;
    max-height: 50%;
  }
  .team:last-child img {
    order: 0;
  }
  .team-img-content {
    max-width: none;
    text-align: center;
  }
  .team .team-tags {
    justify-content: center;
  }
  .team:last-child .team-tags {
    justify-content: center;
  }
  .team-des {
    text-align: center;
  }
}
