:root {
  --light-p-bg: light-dark(#ffffff, #111111);
  --light-s-bg: light-dark(#f5f5f5, #222222);
  --frost-bg: light-dark(rgba(245, 245, 245, 0.5), rgba(34, 34, 34, 0.5));
  --frame-shadow: light-dark(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5));

  --light-p-text: light-dark(#333333, #ffffff);
  --light-s-text: light-dark(#888888, #888888);

  --main-size: clamp(2.488rem, 0.4527rem + 3.3778vw, 2.986rem);
  --sub-size: clamp(1.728rem, -0.3538rem + 3.237vw, 2.074rem);
  --h3-title: 1.44rem;
  --body-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);
  --small-size: clamp(0.694rem, 0.6444rem + 0.7407vw, 1rem);

  --section-d-pad: 60px 100px;
  --individual-d-h-pad: 0 100px;
  --individual-d-v-pad: 60px 0;

  --section-m-pad: 60px 25px;
  --individual-m-h-pad: 0 25px;
  --individual-m-v-pad: 40px 0;

  --max-width: 900px;

  --basic-gap: 10px;
  --section-gap: 40px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
  background: var(--light-s-bg);
}
::-webkit-scrollbar-thumb {
  background: #d5d5d5;
  border-radius: 20px;
}
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background: var(--light-s-bg);
  color-scheme: light dark;
  /* overflow: hidden; */
}

/* -----NATIVES------ */
h1 {
  font-family: "Italianno", cursive;
  font-size: var(--main-size);
  color: var(--light-p-text);
  font-style: normal;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 1;
}
h2 {
  font-family: "Italianno", cursive;
  font-size: var(--main-size);
  color: var(--light-p-text);
  font-style: normal;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 1;
}
p {
  font-family: "Satoshi", sans-serif;
  font-size: var(--body-size);
  color: var(--light-s-text);
  font-weight: 400;
}
h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: var(--h3-title);
  color: var(--light-p-text);
  font-weight: 400;
  line-height: 1;
}
span {
  font-family: "Satoshi", sans-serif;
  font-size: var(--small-size);
  color: var(--light-s-text);
  font-weight: 400;
}
a {
  font-family: "Satoshi", sans-serif;
  font-size: var(--small-size);
  text-decoration: none;
}
/* -----NATIVES-END------ */

/* -----------NAVBAR-------------- */
header {
  position: relative;
}
.header-rangoli {
  /* background: url(./imgs/top-raangoli.webp); */
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.05;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav {
  width: 100%;
  position: fixed;
  z-index: 9999;
  padding: 20px 100px;
  transition: all 0.5s;
}
.ham-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo img:hover {
  transform: scale(0.9);
}
.nav-logo img {
  height: 50px;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.nav-links,
.nav-socials {
  padding: 10px;
  border: 1px solid var(--light-s-bg);
  background: var(--frost-shadow);
  backdrop-filter: blur(20px);
  border-radius: 50px;
  display: flex;
  gap: var(--basic-gap);
  box-shadow: 0 0 10px var(--frame-shadow);
}
.nav-links a {
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--light-p-text);
  transition: all 0.5s;
}
.nav-links a:hover {
  background: var(--light-p-bg);
}
.nav-links a.active {
  background: var(--light-p-bg);
  font-family: "Italianno", cursive;
  font-size: 20px;
}

.nav-socials a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.5s;
}
.nav-socials a:hover {
  background: var(--light-p-bg);
}

.youtube,
.instagram,
.facebook {
  height: 25px;
  width: 25px;
}

.ham-icon {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: var(--light-p-text);
  transition: all 0.5s;
}
.nav-logo a:last-child {
  display: none;
  width: 30px;
  height: 30px;
}

/* -----HERO------ */
.hero-section {
  z-index: 1;
  background: var(--light-s-bg);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--section-d-pad);

}
.hero-content {
  margin-top: 20px;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px
}
.hero-title{
  /* text-align: center; */
  margin: auto;
  margin-top: 60px;
}

/* -----GALLERY------ */
.gallery-section {
  background: var(--light-p-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--section-d-pad);
  gap: var(--section-gap);
}
.gallery-content {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--basic-gap);
  text-align: center;
  text-wrap: balance;
}

.gallery-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.gallery-filters button {
  background: none;
  background: var(--light-s-bg);
  color: var(--light-s-text);
  padding: 7px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.gallery-filters button:focus,
.gallery-filters button:hover {
  color: var(--light-p-text);
  outline: 1px solid var(--light-p-text);
}
.gallery-filters button.active {
  background: var(--light-p-text);
  color: var(--light-p-bg);
  outline: 1px solid var(--light-p-text);
  pointer-events: none;
  box-shadow: 4px 4px 10px var(--frame-shadow);
}

.gallery {
  max-width: var(--max-width);
  columns: 3;
  column-gap: 15px;
}
.img-cont {
  position: relative;
  background: var(--light-s-bg);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 4px 4px 10px var(--frame-shadow);
  break-inside: avoid;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

.img-cont:hover {
  padding-bottom: calc(9rem - clamp(6rem, 3rem + 6.25vw, 7rem));
}
.img-cont:hover img {
  transform: scale(0.95) rotate(-2deg);
}

.img-cont img {
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.img-content {
  position: absolute;
  left: 20px;
  bottom: 10px;
  padding-right: 10px;
  display: flex;
  opacity: 0;
  max-height: 0;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  z-index: 0;
  transition: all 0.5s 0.3s;
  text-wrap: balance;
}

.img-cont:hover .img-content {
  opacity: 1;
  max-height: fit-content;
}
.img-cont h3 {
  font-size: var(--body-size);
}
.img-content span {
  height: fit-content;
  width: fit-content;
  background: var(--light-p-bg);
  padding: 5px 10px;
  border-radius: 50px;
  /* text-wrap: nowrap; */
}

/* * ---------POP-UP----------- */

/* -------------FEATURED-ARTIST---------------- */
.artist-section {
  padding: var(--section-d-pad);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
}
.artist-head {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--basic-gap);
  text-wrap: balance;
}
.artist-head a {
  padding: 10px 20px;
  background: var(--light-p-text);
  color: var(--light-p-bg);
  border-radius: 50px;
  transition: all 0.5s;
}
.artist-head a:hover {
  background: var(--light-p-bg);
  outline: 1px solid var(--light-p-text);
  color: var(--light-p-text);
}

.artist-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--section-gap);
}
.artist {
  /* max-width: 250px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist-content-title {
  max-width: 150px;
}
.artist-content-des {
  font-size: var(--small-size);
}
.artist img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 10px solid var(--light-p-bg);
  box-shadow: 4px 4px 10px var(--frame-shadow);
  margin-bottom: 10px;
}

/* -----FOOTER------ */
.footer-section {
  background: var(--light-p-bg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--section-gap);
  padding: var(--section-d-pad);
  position: relative;
}
.footer-bg {
  background: url(./imgs/footer-bg.webp);
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;
  z-index: 0;
  position: absolute;
  transform: scaleY(-1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-head {
  z-index: 2;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--basic-gap);
}
.footer-des {
  max-width: 500px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.footer-links a {
  padding: 10px 20px;
  align-items: center;
  background: var(--frost-bg);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  text-decoration: none;
  color: var(--light-s-text);  
}
.footer-links a svg {
  margin-right: 8px; /* Add space between icon and text */
}

.footer-msgbox {
  max-width: 500px;
  z-index: 2;
  background: var(--frost-bg);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: var(--basic-gap);
  padding: 20px;
  border-radius: 10px;
}
.footer-msgbox input, .footer-msgbox textarea {
  font-family: "Satoshi", sans-serif;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: var(--light-s-bg);
  resize: none;
}

.footer-msgbox button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: var(--light-p-text);
  color: var(--light-p-bg);
  cursor: pointer;
  transition: all 0.5s;
}
.footer-msgbox button:hover {
  background: var(--light-p-bg);
  color: var(--light-p-text);
  outline: 1px solid var(--light-p-text);
}
.footer-msgbox input:focus, .footer-msgbox textarea:focus {
  outline: 1px solid var(--light-s-text);
}




@media (prefers-color-scheme: dark) {
  .nav-logo img {
    filter: invert(1);
  }
  .footer-bg{
    opacity: 0.1;
  }
}
@media (max-width: 950px) {
  nav {
    padding: 20px 25px;
  }
}

@media (max-width: 768px) {
  .ham-cont {
    height: 50px;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
    background: var(--frost-bg);
    backdrop-filter: blur(20px);
    border: 1px solid var(--light-p-bg);
    box-shadow: 0 0 10px var(--frame-shadow);
    border-radius: 25px;
    transition: height 0.5s;
    overflow: hidden;
  }
  .ham-cont.active {
    height: 300px;
    padding: 50px 0 20px 0;
  }
  .ham-icon {
    display: inline-block;
  }
  .ham-icon:hover {
    transform: scale(0.9);
  }


  .nav-logo {
    position: absolute;
    top: 10px;
    left: 20px;
    height: auto;
  }
  .nav-logo img {
    height: 100%;
  }


  .nav-links,
  .nav-socials {
    display: none;
    opacity: 0;
    border: none;
    background: none;
    backdrop-filter: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
    padding: 0;
    box-shadow: none;
    transition: display 1s 0.3s
                opacity 0.5s;
  }
  .nav-links.active,
  .nav-socials.active {
    display: flex;
    opacity: 1;
  }
  .nav-socials {
    flex-direction: row;
  }

  .nav-logo a:first-child {
    display: none;
  }
  .nav-logo a:last-child {
    display: inline-block;
  }

  .hero-section,
  .gallery-section {
    padding: var(--section-m-pad);
  }
  h1 {
    text-wrap: wrap;
  }
  .hero-content {
    display: flex;
    gap: var(--basic-gap);
    align-items: center;
    text-align: center;
  }
  .hero-des {
    text-wrap: balance;
  }
  .gallery-content {
    flex-direction: column;
  }
  .gallery-filters {
    flex-wrap: wrap;
  }

  .gallery {
    columns: 2;
    column-gap: 10px;
    text-wrap: wrap;
  }
  .gallery .img-cont {
    padding: 5px;
    margin-bottom: 10px;
  }
  .gallery .img-cont:hover {
    padding-bottom: calc(12.5rem - clamp(5rem, 4.244rem + 5.7416vw, 7rem));
  }

  .img-content {
    /* display: none; */
    gap: 5px;
    left: 10px;
    bottom: 10px;
  }

  /* .gallery-popups{
    align-items: flex-end;
  }
  .gallery-popups .popup{
    width: 90%;
    border-radius: 10px 10px 0 0;
  }
  .popup-content{
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 20px 20px 0 20px;
  }
  .popup img{
    max-width: 100%;
    max-height: 100%;
  }
  .popup .popup-data{
    height: auto;
    overflow: visible;
  } */

  .artist-section {
    padding: var(--section-m-pad);
    flex-direction: column;
    align-items: center;
  }
  .artist-head {
    align-items: center;
    text-align: center;
  }
  .artist-content {
    flex-direction: column;
  }

  .footer-section {
    padding: var(--section-m-pad);
    flex-direction: column;
    align-items: center;
  }
  .footer-head {
    align-items: center;
    text-align: center;
    max-width: 500px;
  }
  .footer-links {
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.footerlogo{
  display: flex;
  align-items: center;
}

@media (max-width: 350px) {
  .gallery {
    columns: 1;
  }
}
.swiper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
}

.swiper-slide {
  width: 300px; /* Default width for larger screens */
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: f;
  margin-right: 20px; /* Space between slides */
}

.swiper-slide-active {
  filter: blur(0px);
}

/* Pagination styles */
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .swiper-slide {
    width: 250px; /* Adjust width for tablet size */
    height: 350px;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 200px; /* Adjust width for phone size */
    height: 300px;
    margin-right: 10px;
  }
}

@media (max-width: 420px) {
  .swiper-slide {
    width: 150px; /* Smaller width for small phone screens */
    height: 250px;
    margin-right: 5px;
  }
}
@media (max-width: 1440px) {
  .swiper {
    max-width: 1200px; /* Set a max-width for larger screens up to 1440px */
  }
}
@media (max-width: 1920px) {
  .swiper {
    max-width: 1300px; /* Set a max-width for larger screens up to 1440px */
  }
}

@media (max-width: 1024px) {
  .swiper {
    max-width: 800px; /* Set a max-width for tablets */
  }
}

@media (max-width: 768px) {
  .swiper {
    max-width: 600px; /* Set a max-width for smaller tablets/large phones */
  }
}

@media (max-width: 480px) {
  .swiper {
    max-width: 380px; /* Set a max-width for mobile screens */
  }
} 


/* Replace with local images */
.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/celebs/celebs-1.jpg') no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/paintings/painting-1.jpg') no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/sculptures/sculpture-1.jpg') no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/paintings/painting-13.jpg') no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/paintings/painting-14.jpg') no-repeat 50% 50% / cover;
}
.swiper-slide--six {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/interiors/interior-10.jpg') no-repeat 50% 50% / cover;
}
.swiper-slide--seven {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/sculptures/sculpture-30.jpg') no-repeat 50% 50% / cover;
}
.swiper-slide--eight {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/paintings/painting-30.jpg') no-repeat 50% 50% / cover;
}
.swiper-slide--nine {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/paintings/painting-18.jpg') no-repeat 50% 50% / cover;
}
.swiper-slide--ten {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/sculptures/sculpture-17.jpg') no-repeat 50% 50% / cover;
}
.swiper-slide--eleven {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url('./imgs/interiors/interior-8.jpg') no-repeat 50% 50% / cover;
}


/* Disable shadows */
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}
