@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --light-p-bg: #ffffff;
  --light-s-bg: #eeeeee;
  --dark-p-bg: #333333;
  --dark-s-bg: #828282;

  --light-p-text: #333333;
  --light-s-text: #828282;
  --dark-p-text: #ffffff;
  --dark-s-text: #e1e1e1;

  --main-size: clamp(2.488rem, 0.4527rem + 3.3778vw, 2.986rem);
  --sub-size: clamp(1.44rem, -0.3538rem + 3.237vw, 2.074rem);
  --body-size: clamp(1rem, 0.6444rem + 0.7407vw, 1.2rem);

  --section-d-pad: 60px 100px;
  --individual-d-h-pad: 0 100px;
  --individual-d-v-pad: 60px 0;
  --section-m-pad: 40px 25px;
  --individual-m-h-pad: 0 25px;
  --individual-m-v-pad: 40px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
}
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
body {
  width: 100%;
}

/* NATIVES */
h1 {
  font-size: var(--main-size);
  font-family: "Italianno", cursive;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
}
h3 {
  font-size: var(--sub-size);
  font-family: "Satoshi", "Roboto";
}
p {
  font-size: var(--body-size);
  font-family: "Satoshi", "Roboto";
}

.hero-section {
  background: var(--light-s-bg);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding: var(--individual-d-v-pad);
}
.hero-content {
  padding: var(--individual-d-h-pad);
}
.hero-carousel {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
.hero-images {
  background: lightblue;
  min-width: 200px;
  height: 300px;
}
@media (max-width: 768px) {
  .hero-content {
    padding: var(--individual-m-h-pad);
  }
}
