@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #fff;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: slategrey;
}
.carousel{
    height: 60vh;
    perspective: 500px;
}
.carousel .carousel-item{
    height: 300px;
    border: 10px solid #333333;
    /* height: auto; */
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}