html {
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    color: #212121;
    /* min-width: 320px; */
    margin: 0;
    padding: 0;
    width: 100%;
}
/* 
.section-header {
    display: block;
    margin-top: 200px;
    position: relative;
    text-align: center;
} */

section {
    /* overflow: hidden; */
    position: relative;
}

.Carousel-slider {
    height: 400px;
    position: relative;
    width: 100%;
}

.Carousel-slider.fullwidth {
    height: 500px;
}

.Carousel-slider.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}

.slider-wrapper {
    height: 400px !important;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
	perspective: 1500px  !important;
}

.slider-item {
    height: 300px;
    width: auto;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    cursor: pointer;
	border: 10px solid #ffffff;
}

.indicators {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.indicators a {
    background: #eeeeee;
    border-radius: 8px;
    display: inline-block;
    height: 10px;
    width: 15px;
    transition: all 0.3s;
}

.indicators .active a {
	background: #d9d9d9;
    width: 30px;
}
